@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 26 26 26;
  }
}

@layer base {
  body {
    @apply bg-app-bg text-main-text antialiased;
  }
}

@layer utilities {
  @keyframes confetti {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-200px) rotate(720deg);
      opacity: 0;
    }
  }
  
  .animate-confetti {
    animation: confetti 2s ease-out forwards;
  }
}
